#ct {
   color: white !important;
}

#foto {
   width: 276px;
}

@media screen and (max-width: 1300px) {
   #foto {
      width: 250px;
   }
}

@media screen and (max-width: 906px) {
   #foto {
      width: 220px;
   }
}

@media screen and (max-width: 500px) {
   #foto {
      width: 180px;
   }
}

@media screen and (max-width: 390px) {
   #foto {
      width: 140px;
   }
}
