#cardHeader {
   border-bottom: grey 1px dashed !important;
}

#ct img {
   height: 300px;
}

#mapaCt {
   height: 400px;
   width: 100%;
}

@media screen and (max-width: 990px) {
   #mapaCt {
      height: 300px;
   }

   #ct img {
      height: 250px;
   }
}

@media screen and (max-width: 480px) {
   #mapaCt {
      height: 260px;
   }

   #ct img {
      height: 230px;
   }
}

@media screen and (max-width: 400px) {
   #mapaCt {
      height: 220px;
   }

   #ct img {
      height: 220px;
   }
}
