#cardHeader {
   border-bottom: grey 1px dashed !important;
}

#fundoCustom {
   background-color: #aaaaaa;
   opacity: 0.8;
   background: radial-gradient(circle, transparent 20%, #aaaaaa 20%, #aaaaaa 80%, transparent 80%, transparent),
      radial-gradient(circle, transparent 20%, #aaaaaa 20%, #aaaaaa 80%, transparent 80%, transparent) 25px 25px,
      linear-gradient(#3d3f6b 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #3d3f6b 2px, #aaaaaa 2px) -1px 0;
   background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

#mapaCt {
   height: 400px;
   width: 100%;
}

@media screen and (max-width: 990px) {
   #mapaCt {
      height: 300px;
   }
}

@media screen and (max-width: 480px) {
   #mapaCt {
      height: 260px;
   }
}

@media screen and (max-width: 400px) {
   #mapaCt {
      height: 220px;
   }
}
