#ct {
   color: white !important;
}

#foto {
   width: 216px;
}

@media screen and (max-width: 700px) {
   #foto {
      width: 200px;
   }
}

@media screen and (max-width: 300px) {
   #foto {
      width: 170px;
   }
}
