/*  Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/*  Bootstrap icons  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
   font-family: "Inter", sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

img {
   max-width: 100%;
   object-fit: cover;
}

/*div.dropdown > .dropdown-menu {
   display: inherit;
   transform: translate(-39px, 13px) scaleX(0);
   transition: all 0.3s cubic-bezier(0, -0.14, 0.27, 1.55);
   transform-origin: top;
   left: 0;
}

div.dropdown.show > .dropdown-menu {
   display: inherit;
   transform: translate(-39px, 13px) scaleX(1);
}
*/