#fotoUsuario {
   height: 40px;
   width: 40px;
   cursor: pointer;
}

#seta::after, #seta::before {
   content: none;
}

#logo {
   cursor: pointer;
   width: 170px;
}

@media screen and (max-width: 450px) {
   #fotoUsuario {
      height: 35px;
      width: 35px;
   }

   #logo {
      width: 150px;
   }
  
}