#fotoUsuario {
   height: 40px;
   width: 40px;
   cursor: pointer;
}

#seta::after, #seta::before {
   content: none;
}

@media screen and (max-width: 400px) {
   #fotoUsuario {
      height: 35px;
      width: 35px;
   }
  
}