body {
   background: rgb(33, 33, 34) !important;
}

a {
   text-decoration: none;
   color: white;
}

.nav-link.active {
   text-decoration: underline;
   color: white !important;
   font-weight: 500 !important;
}

.nav-link {
   color: rgb(165, 165, 165) !important;
}

.navbar-toggler {
   background-color: rgba(255, 255, 255, 0.808) !important;
}

.navbar-brand {
   font-weight: 700 !important;
   font-size: 25px !important;
   color: white !important;
}

img {
   max-width: 100%;
}
