#ct {
   color: white !important;
}

#foto {
   width: 200px;
}

@media screen and (max-width: 1426px) {
   #foto {
      width: 150px;
   }
}

@media screen and (max-width: 906px) {
   #foto {
      width: 120px;
   }
}

@media screen and (max-width: 500px) {
   #foto {
      width: 100px;
   }
}
